[build]
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  included_files = ["fertigmeldung_ihrer_anlage_vorlage.pdf", "fields_template.json"]

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Methods = "GET, POST, OPTIONS"
    Access-Control-Allow-Headers = "Content-Type, Authorization"
